/* You can add global styles to this file, and also import other style files */
.justify-content-center {
    text-align: center;
}

.buffered-top {
    margin-top: 1em;
}
.buffered-bottom {
    margin-bottom: 1em;
}
.buffered-left {
    margin-left: 1em;
}

span {
    display: block;
}