<div class='row justify-content-center'>
	<!-- Main Menu -->
	<p-panel *ngIf='!startGame'>
		<div class='row justify-content-center'>
			<span>Welcome to the main menu, Player {{player_id}}!</span>
			<span *ngIf='player_id === "1"'>Feel free to start the game whenever.</span>
			<span>Feel free to change your card theme and color!</span>
			<span *ngIf='player_id === "2"'>When you're done, press "I'm ready!" to let Player 1 know you're ready</span>
			<button class='buffered-top' (click)='start()'>Start Game</button>
		</div>
	</p-panel>



	<!-- Game -->
	<p-panel *ngIf='startGame'>
		<div class='row justify-content-center'>
			<h3>Welcome, Player {{player_id}}!</h3>
			<p>
				<button (click)='move("down")'>Down</button>
			</p>
			<span>{{message}}</span>


			<div class='p-col-12 buffered-top'>
				<div class="p-grid p-justify-center">
					<div class="p-col-3">
						card 0
					</div>
					<div class="p-col-3 middle-card">
						card 1
					</div>
					<div class="p-col-3">
						card 2
					</div>
				<!-- </div>
				<div class="p-grid p-justify-between"> -->
					<div class="p-col-3">
						card 3
					</div>
					<div class="p-col-3 middle-card">
						card 4
					</div>
					<div class="p-col-3">
						card 5
					</div>
				</div>
			</div>				
		</div>
	</p-panel>
</div>



<!-- A dialog of whether they won or lost -->
<p-dialog header='{{winStatusMessage}}' [closable]='false' [visible]='showWinStatusDialog' [modal]='true' [blockScroll]='true'>
	<!-- Insert meme here -->
	<!-- <p-button></p-button> -->
</p-dialog>