.p-col-12 {
    border: 1px solid black;
    padding: 1em;
}
.p-col-3 {
    border: 1px solid black;
    margin-top: 1em;
    &:hover {
        border: 2px solid red;
    }
}

.middle-card {
    margin-left: 1em;
    margin-right: 1em;
}