<div class='row justify-content-center'>
	<!-- Main Menu -->
	<p-panel *ngIf='!startGame'>
		<div class='row justify-content-center'>
			<span>Welcome to the main menu, Player {{player_id}}!</span>
			<span>Feel free to change your card theme and color!</span>
			<span>When you're done, press "I'm ready!"</span>
			<button class='buffered-top' (click)='readyUp()'>I'm Ready!</button>
		</div>
	</p-panel>



	<!-- Game -->
	<p-panel *ngIf='startGame'>
		<h3>Welcome, Player {{player_id}}!</h3>
		<div class='row'>
			<!-- Other player's cards -->
			<div class='p-col-6 p-offset-3 buffered-top their-cards'>
				<div class="p-grid p-justify-center">
					<!-- 5 -->
					<div class="p-col-3">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<!-- 4 -->
					<div class="p-col-3 middle-card">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<!-- 3 -->
					<div class="p-col-3">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<!-- 2 -->
					<div class="p-col-3">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<!-- 1 -->
					<div class="p-col-3 middle-card">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<!-- 0 -->
					<div class="p-col-3">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<!-- Draw/Discard piles -->
			<div class='p-col-6 p-offset-3 buffered-top draw-discard-piles'>
				<div class="p-grid p-justify-center">
					<!-- Discard -->
					<div class="p-col-3">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<!-- Draw -->
					<div class="p-col-3 draw-pile">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<!-- My cards -->
			<div class='p-col-6 p-offset-3 buffered-top my-cards'>
				<div class="p-grid p-justify-center">
					<div class="p-col-3">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<div class="p-col-3 middle-card">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<div class="p-col-3">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<div class="p-col-3">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<div class="p-col-3 middle-card">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
					<div class="p-col-3">
						<img src={{theme1}} width='100%' height='100%'>
					</div>
				</div>
			</div>
		</div>
	</p-panel>
</div>



<!-- A dialog of whether they won or lost -->
<p-dialog header='{{winStatusMessage}}' [closable]='false' [visible]='showWinStatusDialog' [modal]='true' [blockScroll]='true'>
	<!-- Insert meme here -->
	<!-- <p-button></p-button> -->
</p-dialog>