<div class='row justify-content-center'>
	<!-- Main Menu -->
	<p-panel *ngIf='!startGame'>
		<div class='row justify-content-center'>
			<span>Welcome to the main menu, Player {{player_id}}!</span>
			<span>Feel free to change your card theme.</span>
			<span>When you're done, press "I'm ready!"</span>
			<!-- <span>To start, press "I'm ready!"</span> -->
			<button class='buffered-top' (click)='readyUp()'>{{readyButtonText}}</button>
		</div>

		<div class='row justify-content-center'>
			<div class="p-col-6 p-offset-3 p-lg-4 p-lg-offset-4 buffered-top">
				<div class='p-grid p-justify-center'>
					<div class='col-sm-3 clean'>
						<span>Choose card theme:</span>
						<p-selectButton [options]='cardBackImages' [(ngModel)]='cardBackImage' (onChange)='changeCardImage("preview", $event.value)'></p-selectButton>
					</div>
					<div class='col-sm-3 buffered-left'>
						<img id='preview_card' src='' width='100%' height='100%'>
					</div>
				</div>
			</div>
		</div>
	</p-panel>



	<!-- Game -->
	<!-- <p-panel *ngIf='startGame'> -->
	<p-panel [style.display]="startGame ? 'block' : 'none'">
		<h3>Welcome, Player {{player_id}}!</h3>
		<div class='row justify-content-center {{theirTurn}}'>
			<!-- Other player's cards -->
			<div class='p-col-6 p-offset-3 p-lg-4 p-lg-offset-4 buffered-top their-cards'>
				<div class="p-grid p-justify-center">
					<!-- 5 -->
					<div class="p-col-3 p-lg-2">
						<img id='their_card_5' src='' width='100%' height='100%'>
					</div>
					<!-- 4 -->
					<div class="p-col-3 p-lg-2 middle-card">
						<img id='their_card_4' src='' width='100%' height='100%'>
					</div>
					<!-- 3 -->
					<div class="p-col-3 p-lg-2">
						<img id='their_card_3' src='' width='100%' height='100%'>
					</div>
				</div>
				<div class="p-grid p-justify-center buffered-top">
					<!-- 2 -->
					<div class="p-col-3 p-lg-2">
						<img id='their_card_2' src='' width='100%' height='100%'>
					</div>
					<!-- 1 -->
					<div class="p-col-3 p-lg-2 middle-card">
						<img id='their_card_1' src='' width='100%' height='100%'>
					</div>
					<!-- 0 -->
					<div class="p-col-3 p-lg-2">
						<img id='their_card_0' src='' width='100%' height='100%'>
					</div>
				</div>
				<label>Their Cards</label>
			</div>
		</div>
		<div class='row justify-content-center'>
			<!-- Draw/Discard piles -->
			<div class='p-col-6 p-offset-3 p-lg-4 p-lg-offset-4 draw-discard-piles'>
				<div class="p-grid p-justify-end">
					<!-- Discard -->
					<div class="p-col-3 p-lg-2 {{isDiscardSelected}}">
						<a (click)='discardCard(); drawCardFromDiscardPile()'><img id='discard_card' src='' width='100%' height='100%'></a>
						<label>Discard</label>
					</div>
					<!-- Draw -->
					<div class="p-col-3 p-lg-2 {{isDrawSelected}} draw-pile">
						<a (click)='drawCardFromDrawPile()'><img id='draw_card' src='' width='100%' height='100%'></a>
						<label>Draw</label>
					</div>
					<div class='p-col-2 p-col-align-center'><span>Cards left: {{drawPileCount}}</span></div>
				</div>
			</div>
		</div>
		<div class='row buffered-top justify-content-center {{myTurn}}'>
			<!-- My cards -->
			<div class='p-col-6 p-offset-3 p-lg-4 p-lg-offset-4 my-cards'>
				<div class="p-grid p-justify-center">
					<div class="p-col-3 p-lg-2">
						<a (click)='chooseCard(0); replaceCard(0)'><img id='my_card_0' src='' width='100%' height='100%'></a>
					</div>
					<div class="p-col-3 p-lg-2 middle-card">
						<a (click)='chooseCard(1); replaceCard(1)'><img id='my_card_1' src='' width='100%' height='100%'></a>
					</div>
					<div class="p-col-3 p-lg-2">
						<a (click)='chooseCard(2); replaceCard(2)'><img id='my_card_2' src='' width='100%' height='100%'></a>
					</div>
				</div>
				<div class="p-grid p-justify-center buffered-top">
					<div class="p-col-3 p-lg-2">
						<a (click)='chooseCard(3); replaceCard(3)'><img id='my_card_3' src='' width='100%' height='100%'></a>
					</div>
					<div class="p-col-3 p-lg-2 middle-card">
						<a (click)='chooseCard(4); replaceCard(4)'><img id='my_card_4' src='' width='100%' height='100%'></a>
					</div>
					<div class="p-col-3 p-lg-2">
						<a (click)='chooseCard(5); replaceCard(5)'><img id='my_card_5' src='' width='100%' height='100%'></a>
					</div>
				</div>
			</div>
		</div>
	</p-panel>
</div>



<!-- A dialog of whether they won or lost -->
<p-dialog header='{{headerMessage}}' [closable]='false' (onHide)='showDialog = false' [(visible)]='showDialog' [modal]='true' [blockScroll]='true'>
	<!-- Insert meme here -->
	<!-- <p-button></p-button> -->
	<span>Player 1: {{player1Score}}</span>
	<span>Player 2: {{player2Score}}</span>
	<button *ngIf='!gameOver && player_id === "1"' class='buffered-top' (click)='reset("nextRound")'>Next Round</button>
	<button *ngIf='gameOver && player_id === "1"' class='buffered-top' (click)='reset("newGame")'>New Game</button>
</p-dialog>

<!-- Turn dialog -->
<p-dialog header='{{headerMessage}}' (onHide)='showTurnDialog = false' [(visible)]='showTurnDialog' [modal]='true' [blockScroll]='true'>
	<div class='row justify-content-center'>
		<img src='{{lastTurnImage}}' width='50%' height='50%'>
	</div>
</p-dialog>