<div class='row justify-content-center'>
	<!-- Main Menu -->
	<p-panel *ngIf='!startGame'>
		<div class='row justify-content-center'>
			<span>Welcome to the main menu, Player {{player_id}}!</span>
			<span>Feel free to change your card theme and color!</span>
			<span>When you're done, press "I'm ready!"</span>
			<button class='buffered-top' (click)='readyUp()'>I'm Ready!</button>
		</div>
	</p-panel>



	<!-- Game -->
	<p-panel *ngIf='startGame'>
		<h3>Welcome, Player {{player_id}}!</h3>
		<div class='row'>
			<!-- Other player's cards -->
			<div class='p-col-6 p-offset-3 buffered-top their-cards'>
				<div class="p-grid p-justify-center">
					<!-- 5 -->
					<div class="p-col-3">
						<img src={{card_theme}} width='100%' height='100%'>
					</div>
					<!-- 4 -->
					<div class="p-col-3 middle-card">
						<img src={{card_theme}} width='100%' height='100%'>
					</div>
					<!-- 3 -->
					<div class="p-col-3">
						<img src={{card_theme}} width='100%' height='100%'>
					</div>
					<!-- 2 -->
					<div class="p-col-3">
						<img src={{card_theme}} width='100%' height='100%'>
					</div>
					<!-- 1 -->
					<div class="p-col-3 middle-card">
						<img src={{card_theme}} width='100%' height='100%'>
					</div>
					<!-- 0 -->
					<div class="p-col-3">
						<img src={{card_theme}} width='100%' height='100%'>
					</div>
				</div>
			</div>
			<label>Their Cards</label>
		</div>
		<div class='row'>
			<!-- Draw/Discard piles -->
			<div class='p-col-6 p-offset-3 buffered-top draw-discard-piles'>
				<div class="p-grid p-justify-center">
					<!-- Discard -->
					<div class="p-col-3">
						<a (click)='discardCard(); drawCardFromDiscardPile()'><img src={{card_theme}} width='100%' height='100%'></a>
						<label>Discard</label>
					</div>
					<!-- Draw -->
					<div class="p-col-3 draw-pile">
						<a (click)='drawCardFromDrawPile()'><img src={{card_theme}} width='100%' height='100%'></a>
						<label>Draw</label>
					</div>
				</div>
			</div>
		</div>
		<div class='row buffered-top'>
			<!-- My cards -->
			<div class='p-col-6 p-offset-3 my-cards'>
				<div class="p-grid p-justify-center">
					<div class="p-col-3">
						<a (click)='chooseCard(0); replaceCard(0)'><img src={{card_theme}} width='100%' height='100%'></a>
					</div>
					<div class="p-col-3 middle-card">
						<a (click)='chooseCard(1); replaceCard(1)'><img src={{card_theme}} width='100%' height='100%'></a>
					</div>
					<div class="p-col-3">
						<a (click)='chooseCard(2); replaceCard(2)'><img src={{card_theme}} width='100%' height='100%'></a>
					</div>
					<div class="p-col-3">
						<a (click)='chooseCard(3); replaceCard(3)'><img src={{card_theme}} width='100%' height='100%'></a>
					</div>
					<div class="p-col-3 middle-card">
						<a (click)='chooseCard(4); replaceCard(4)'><img src={{card_theme}} width='100%' height='100%'></a>
					</div>
					<div class="p-col-3">
						<a (click)='chooseCard(5); replaceCard(5)'><img src={{card_theme}} width='100%' height='100%'></a>
					</div>
				</div>
			</div>
		</div>
	</p-panel>
</div>



<!-- A dialog of whether they won or lost -->
<p-dialog header='{{headerMessage}}' (onHide)='showDialog = false' [(visible)]='showDialog' [modal]='true' [blockScroll]='true'>
	<!-- Insert meme here -->
	<!-- <p-button></p-button> -->
	<span>Player 1: {{player1Score}}</span>
	<span>Player 2: {{player2Score}}</span>
	<button *ngIf='!gameOver && player_id === "1"' class='buffered-top' (click)='reset("nextRound")'>Next Round</button>
	<button *ngIf='gameOver && player_id === "1"' class='buffered-top' (click)='reset("newGame")'>New Game</button>
</p-dialog>